page-second {


    ion-navbar{
        height: 150px;
        background-color: cornflowerblue;
    }

    #bg{
        background-color: cornflowerblue;

    }

    .pr{
        color:cornflowerblue;
        padding-right: 50%;
    }

    .myHeader{
       
        height: 200px;
     
        width: 100%;
        background-color: #2269D5;
       
    //    margin-top: -10px;
      
      
    }


    .smallbox{
        
        border: dotted 2px white;
        border-radius: 100%;
        width:80px;
        height: 80px;
        margin-left: 15%;
      //  margin-top: 10%;
        position: relative;
        top: 80px;

        background-color: 	#4E84DA;
        
       
        
    }

    .signinbtn{
        width:90%;
        background-color: #2467D6;
        font-weight: bold;
        color:white;
    }

    box{
        width:30%;
       
    }


    ion-icon{
    //     padding-left:88%;
    //    // padding-top:20%;
    //     font-size:25px;
    color:cornflowerblue;
    }


    i{
        padding-left:88%;
        padding-top:20%;
        font-size:100px;
        color:black;

    }

    #icon {
        color:black ;
        font-size:30px;

    }

    .item{
        margin-left: 5%;
        width:80%;

    }


    .theSpan{
        color:cornflowerblue;
    }

    #btn{
    color:white;
    border-radius: 100%;
    border:solid 1px cornflowerblue;
    height: 15px;
    width: 15px;
    text-align: center;
    }


    i{
        color:cornflowerblue;
    }
   

}
